footer.footer
  //- This is a footer.
  p.footer__text &copy; 2025 Example. All rights reserved.
  ul.footer__list
    li.footer__item
      a.footer__link(href="https://github.com/Zilero232") GitHub
    li.footer__item
  script(src="../js/main.js")
