header.header
  //- This is a header.
  h1.header__title Example
  nav.header__nav
    ul.header__list
      li.header__item
        a.header__link(href="#") Home
      li.header__item
        a.header__link(href="#") About
      li.header__item
        a.header__link(href="#") Contact
